body {
  font-family: 'Roboto', sans-serif;
  margin: 0%;
  padding-top: 20px;
  font-size: 12px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
}

.inputfield {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input, textarea {
  text-align: center;
  background-color: #e6e6e6;
  border: none;
  width: 100%;
  height: 40px;
  font-weight: bold;
  font-size: 12px;
  -webkit-box-shadow: inset 0 5px 5px -7px black;
          box-shadow: inset 0 5px 5px -7px black;
}

h1 {
  font-size: 20px;
  font-weight: 800;
}

h2 {
  font-size: 15px;
  font-weight: 300;
}

.taglines {
  background-color: #f2f2f2;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  padding-bottom: 45px;
}

.tagline1, .tagline2 {
  padding-bottom: 5px;
}

.btn-explore {
  background-color: #9356DC;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
  border-radius: 25px;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 500;
  width: 170px;
  height: 20px;
  padding: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.49, 0, 0.49, 0);
  transition: all 0.3s cubic-bezier(0.49, 0, 0.49, 0);
}

.btn-explore:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: all 0.3s cubic-bezier(0.49, 0, 0.49, 0);
  transition: all 0.3s cubic-bezier(0.49, 0, 0.49, 0);
  margin: 8px 10px 12px;
  width: 185px;
  height: 30px;
  padding-top: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.btn-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fas {
  position: absolute;
  padding-right: 110px;
}

.howitworks {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-numbers {
  background-color: #9356DC;
  border-radius: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  height: 12px;
  margin-top: 20px;
  color: white;
  position: absolute;
  margin-left: -10px;
}

.btn-combined {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 10px;
}

.btn-icon {
  padding-left: 10px;
  border-radius: 25px;
  width: 260px;
  height: 35px;
  padding-top: 25px;
  font-weight: bold;
  margin-bottom: 15px;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.49, 0, 0.49, 0);
  transition: all 0.3s cubic-bezier(0.49, 0, 0.49, 0);
}

.btn-icon:hover {
  background-color: #9256dc25;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: all 0.3s cubic-bezier(0.49, 0, 0.49, 0);
  transition: all 0.3s cubic-bezier(0.49, 0, 0.49, 0);
  margin: 0px 10px 12px;
  cursor: pointer;
}

.fa {
  padding-right: 15px;
  padding-left: 10px;
}

.far {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 225px;
  margin-top: -10px;
  color: #9356DC;
}

.restaurants {
  padding-left: 15px;
  padding: 10px;
  background-color: #f2f2f2;
}

.restaurant-tiles-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0px solid white;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
  width: 265px;
}

.img3 {
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  -o-object-fit: cover;
     object-fit: cover;
}

.caption3 {
  display: block;
  color: black;
  font-size: 12px;
  padding-top: 10px;
  padding-left: 15px;
  background-color: white;
  font-weight: bolder;
  text-align: left;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

a:link {
  text-decoration: none;
}

.caption2 {
  display: block;
  color: black;
  font-size: 13px;
  padding-bottom: 10px;
  padding-top: 0px;
  padding-left: 1px;
  background-color: white;
  text-align: left;
  margin-left: 14px;
  margin-top: 30px;
}

.caption5 {
  display: inline-block;
  color: black;
  font-size: 13px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 1px;
  background-color: white;
  text-align: left;
  margin-left: 14px;
  margin-top: 3px;
  border-bottom-left-radius: 10px;
  margin-bottom: 10px;
}

.restaurant-tiles1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurant-tiles2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-new {
  border-radius: 2px;
  border: 1px solid #99E2D0;
  background-color: #99E2D0;
  position: absolute;
  margin-left: 195px;
  margin-top: 10px;
  width: 55px;
  height: 18px;
  padding-top: 5px;
  text-align: center;
}

.footer-logo {
  font-family: 'Shrikhand', cursive;
  background-color: #2f373df2;
  color: white;
  padding: 15px;
  font-size: 14px;
}

.suggest, .become {
  background-color: #2f373df2;
  color: white;
  padding: 2px;
  padding-left: 15px;
}

.legal, .contact {
  background-color: #2f373df2;
  color: white;
  padding: 2px;
  padding-left: 40px;
}

.fa-utensils {
  position: relative;
  padding-right: 15px;
}

.fa-hands-helping {
  position: relative;
  padding-right: 10px;
}

.fa-arrow-left {
  position: absolute;
  margin-right: 155px;
}

.menu-logo {
  font-family: 'Shrikhand', cursive;
  font-size: 24px;
  background-color: #f2f2f2;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-left: 15px;
  margin-top: -25px;
  padding-top: 20px;
}

.menu-img1 {
  background-image: url("/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  aspect-ratio: 2/1;
}

.menu-img2 {
  background-image: url("/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  aspect-ratio: 2/1;
}

.menu-img3 {
  background-image: url("/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  aspect-ratio: 2/1;
}

.menu-img4 {
  background-image: url("/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  aspect-ratio: 2/1;
}

.menu-heart {
  padding-left: 50px;
  margin-top: -20px;
  color: #9356DC;
}

.entrees {
  padding-top: 25px;
  padding-left: 15px;
  background-color: #f2f2f2;
  height: 100%;
  position: relative;
  margin-top: 20px;
}

.main-dish, .desserts {
  padding-top: 25px;
  padding-left: 15px;
  background-color: #f2f2f2;
  height: 100%;
  position: relative;
  margin-top: 20px;
}

.entrees:before, .main-dish:before, .desserts:before {
  content: "";
  position: absolute;
  left: 15px;
  bottom: -5px;
  height: 1px;
  width: 10%;
  border-bottom: 2px solid #99E2D0;
}

.menu-tiles-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0px solid white;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 0px;
  border-radius: 10px;
  width: 290px;
  margin-top: 15px;
}

.menu-tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
}

.caption4 {
  display: block;
  color: black;
  font-size: 14px;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 3px;
  background-color: white;
  font-weight: bolder;
  text-align: left;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
}

.caption-price {
  position: absolute;
  margin-left: 250px;
  font-size: 14px;
  font-weight: bold;
  color: black;
  margin-top: 20px;
}

.caption-price:active {
  -webkit-animation: slide ease-in-out 500ms;
          animation: slide ease-in-out 500ms;
  margin-left: 205px;
}

.caption-price:active + .fa-check-circle {
  -webkit-animation: show ease-in-out 600ms;
          animation: show ease-in-out 600ms;
  visibility: visible;
}

@-webkit-keyframes slide {
  from {
    margin-left: 250px;
  }
  to {
    margin-left: 205px;
  }
}

@keyframes slide {
  from {
    margin-left: 250px;
  }
  to {
    margin-left: 205px;
  }
}

.fa-check-circle {
  visibility: hidden;
  color: white;
  background-color: #99E2D0;
  padding-right: 16px;
  margin-left: 235px;
  margin-top: 0px;
  padding-bottom: 15px;
  padding-top: 16px;
  padding-left: 16px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
}

.fa-heart {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #a6a6a6;
  margin-left: 225px;
  margin-top: -10px;
}

.fa-heart:hover {
  -webkit-animation: fill 3s 1s forwards;
          animation: fill 3s 1s forwards;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes fill {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  25% {
  }
  50% {
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}

@keyframes fill {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  25% {
  }
  50% {
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}

section {
  background-color: #f2f2f2;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #FF79DA;
  border-radius: 50%;
  border-top: 16px solid #9356DC;
  border-right: 16px solid #FF79DA;
  border-bottom: 16px solid #99E2D0;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 3s forwards cubic-bezier(0.19, 0.33, 1, 0.48);
          animation: spin 3s forwards cubic-bezier(0.19, 0.33, 1, 0.48);
  z-index: 2;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  50% {
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  50% {
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@-webkit-keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container-load {
  -webkit-animation: load ease-in-out 4s;
          animation: load ease-in-out 4s;
}

.menu-item-1 {
  -webkit-animation: load ease-in-out 1.5s;
          animation: load ease-in-out 1.5s;
}

.menu-item-2 {
  -webkit-animation: load ease-in-out 2s;
          animation: load ease-in-out 2s;
}

.menu-item-3 {
  -webkit-animation: load ease-in-out 2.8s;
          animation: load ease-in-out 2.8s;
}

.menu-item-4 {
  -webkit-animation: load ease-in-out 3s;
          animation: load ease-in-out 3s;
}

@-webkit-keyframes load {
  0% {
    opacity: 0;
    margin: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes load {
  0% {
    opacity: 0;
    margin: 0;
  }
  100% {
    opacity: 1;
  }
}

footer {
  background-color: #2f373df2;
}

@media only screen and (min-width: 481px) and (max-width: 668px) {
  .menu-logo {
    font-size: 30px;
  }
  .fa-heart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .main-dish, .entrees, .desserts {
    font-size: 14px;
  }
  .menu-heart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

@media only screen and (min-width: 669px) {
  .menu-logo {
    font-size: 36px;
  }
  .menu-heart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .main-dish, .entrees, .desserts {
    font-size: 14px;
  }
  .restaurant-tiles1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .restaurant-tiles2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #2f373df2;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 1025px) {
  .menu-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .btn-numbers {
    margin-left: -270px;
  }
  .btn-combined {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .howitworks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 12px;
  }
  .restaurant-tiles1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .restaurant-tiles2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .menu-tiles {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
/*# sourceMappingURL=main.css.map */